@import '../js/apps/note/assets/css/note-main.css';
@import '../js/apps/email/assets/css/style.css';
@import '../css/modal.css';
@import '../js/apps/email/assets/css/status-bar.css';
@import '../js/apps/book/assets/css/main.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgba(100, 121, 143, 0.122);
}

.nav-bar img {
  width: 80px;
  margin-left: 50px;
}

.nav-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin-right: 50px;
  cursor: pointer;
}

.nav-bar a:hover {
  box-shadow: inset 0 -3px 2px -2px gray;
  color: gray;
}

.screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 50%);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .8s, opacity .8s linear;
  z-index: 1;
}

@media(max-width: 650px) {
  .nav-bar ul {
    margin: 0 auto;
    flex-direction: column;
    position: absolute;
    top: 82px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s;
    width: 350px;
    z-index: 1;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
  }

  .nav-bar i {
    margin-top: 30px;
    margin-right: 50px;
    cursor: pointer;
  }

  .nav-bar a {
    justify-content: center;
    width: 100%;
    height: 80px;
    max-width: 350px;
    background-color: white;
    font-size: 1.25rem;
    margin: 0;
    margin-top: 3px;
  }

  body.menu-open ul {
    max-height: 100vh;
  }

  .nav-bar .x {
    display: none;
  }

  body.menu-open .hamburger {
    display: none;
  }

  body.menu-open .x {
    display: block;
    z-index: 1;
  }

  body.menu-open .screen {
    visibility: visible;
    opacity: 1;
    transition: opacity .8s linear;
  }
}

@media(min-width: 650px) {
  .nav-bar .hamburger {
    display: none;
  }

  .nav-bar .x {
    display: none;
  }
}