@import '../js/apps/note/assets/css/note-main.css';
@import '../js/apps/email/assets/css/style.css';
@import '../css/modal.css';
@import '../js/apps/email/assets/css/status-bar.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  background: #f3f3f3;
  border-bottom: 1px solid rgba(100, 121, 143, 0.122);
}

.nav-bar img {
  width: 80px;
  margin-left: 50px;
}

.nav-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin-right: 50px;
  cursor: pointer;
}

.nav-bar a:hover {
  box-shadow: 0 4px 2px -2px gray;
  color: #444444;
}
