.note-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 30px;
  transition: 0.5s;
  background-color: lightblue;
  border: black 1px solid;
}

.note-preview img {
  size: 150px;
  height: 150px;
}
