.note-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  transition: 0.5s;
  background-color: lightblue;
  column-count: 1;
}

.note-preview img {
  size: 150px;
  height: 150px;
}

.note-preview.note-img {
  height: 400px;
}
